body{
  background-color: rgb(245, 245, 245);
  margin: 0px;
  overflow-x: hidden;
  transition: ease-in-out 1s background-color;

}

@font-face {
  font-family: Raleway-Regular;
  src: url(../../font/Raleway/Raleway-Regular.ttf);
}

@font-face {
font-family: Raleway-Bold;
src: url(../../font/Raleway/Raleway-Bold.ttf);
}

@font-face {
font-family: Raleway-SemiBold;
src: url(../../font/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
  font-family: Raleway-Light;
  src: url(../../font/Raleway/Raleway-Light.ttf);
  }

.nav-bar{
  /*background-color: rgba(88, 88, 88, 0.041); /*88*/
  /*background-color: rgb(245, 245, 245);*/
  /*background-color: #262626;*/
  /*background-color: hsl(148, 100%, 30%);*/
  /*background-image: url(../../img/GreenSchoolsGeneralImage/182e1f28e2c723ede713d4dee929b368.png);
  background-repeat:no-repeat;
  background-size: cover;*/
  font-family: Raleway-Regular;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.096);
  /*border-bottom: 2px solid rgba(128, 128, 128, 0.061);*/
  /*position: fixed;
  overflow: hidden;
  top: 0; /* At the top 
  z-index: 99;
  width: 100%;*/
}

.nav-bar ul {
  margin: 0px;
  padding: 0px;
}

.nav-bar li {
  display: inline-block;
  margin-left: 30px;
  margin-top: 15px;
  margin: 1px 10px; /* DA SISTEMARE*/ 
  padding: 20px;
}

.nav-bar a, p {
  /*color: rgb(49, 49, 49);*/
  color: rgb(255, 255, 255);
  font-size: 17px;
  text-decoration: none;
}

.nav-bar p{
  margin-top: 5px;
  /*color: white;*/
}

.nav-bar img{
  filter: invert(1);
}

/*
.hover-underline-animation {
  position: relative;
  color: rgb(49, 49, 49);
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 50%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 25%;
  background-color: rgb(49, 49, 49);
  transition: transform 0.25s ease-out;
  margin-bottom: 25%;
}

.hover-underline-animation:hover {
  color: #3676CB;
}

*/



.header-title-top{
  text-align: center;
  font-weight: bolder;
  font-family: Raleway-Bold; 
  font-size: 100px;
  margin: 10px;
  color: #00BF59;
  white-space: nowrap;
  position: relative;
  z-index: 1;
}

.header-title-bottom{
  text-align: center;
  font-weight: bolder;
  font-family: Raleway-Bold;
  font-size: 100px;
  margin: 10px;
  color: #00BF59;
  left: 0px;
  white-space: nowrap;
  position: relative;
}

.home-svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slider-info{
text-align: center;
/*font-family: Raleway-Regular;*/
font-family: Raleway-SemiBold;
font-size: 25px;
margin-top: 70px;

}

.arrow-svg{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: -10px;
margin-bottom: 10%;
transition: transform ease-in-out 0.2s;
}

.arrow-svg:hover{
  transform: scale(1.2);
}

.scroll-home-page::after{
  transition: transform ease-in-out 0.2s;
}

.zoom{
  place-items:center;  
  margin-left: auto;
  margin-right: auto;  
}

.project-title{
  text-align: center;
  font-weight: bolder;
  font-family: Raleway-Bold;
  font-size: 100px;
  margin: 10px;
  color: #3676CB;
}

.slider-info-project{
  text-align: center;
  font-family: Raleway-SemiBold;
  font-size: 25px;
  margin-top: 70px;
  color: #3676CB;
}

.arrow-svg-project{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
}

.nav-bar li{
  transition: transform ease-in-out 0.2s;
  
}

.nav-bar li:hover {
  transform: scale(1.1);
  /*box-shadow: 10px 10px 10px 10px;
  border-radius: 10px 10px ;*/
}
/*
ul li:hover,
ul li:hover a {
  color: #3676CB;
 
}*/

.nav-bar li:hover p 
{
  color: #3676CB;
}

body.changeColor-home{
  background-color: #00BF59;

}

.displayNone {
  display: none;
}
/*
a.go-top-image{
  float: right;
  margin-right: 2%;


  
  position: fixed;


  z-index: 1000;





}

a.go-top-image.show {
  opacity: 1;
  visibility: visible;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, opacity 0.5s ease 0s;
}*/

/*
a.to-top.show {
  opacity: 1;
  visibility: visible;
  transition: background-color 0.3s ease 0s, color 0.3s ease 0s, opacity 0.5s ease 0s;
}

a.to-top {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(255, 255, 255);
  font-size: 22px;
}

a.to-top {
  position: fixed;

  z-index: 1000;
  outline: none !important;
}*/

.go-top-image {
  position: fixed;
  display: none;
}
/*
.go-top-image:active img {

}*/

.go-top-image:hover img {
  filter: invert(0.5);
  transform: scale(1.1);
  transition: 0.3s ease-in-out;

}

.home-text{
  background-color: #00BF59;
}

.home-text h1{
  padding-top: 3%;
  text-align: center;
  color: white;
  font-family: Raleway-Bold;
  font-size: 90px;
}

.home-text p{
  padding-bottom: 3%;
  text-align: center;
  color: white;
  font-family: Raleway-Light;
  font-size: 25px;
  line-height: 150%;
}

.home-text img{
  width: 350px;
  height: 350px;
  padding-bottom: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: ease-in-out 0.3s border-radius;
}

.home-text img:hover{
  border-radius: 25%;
}


.separate-line{
  /*color: rgb(245, 245, 245);
  margin: 0;
  border: 0.1;
  height: 1px;*/
  display: inline-block;
  height: 1px;
  width: 550px;
  background-color: rgb(245, 245, 245);
  position: relative;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 2%;
  margin-bottom: 2%;
}

@viewport{
  zoom: 1.0;
  width: extended-to-zoom;
}

@-ms-viewport{
  width: extended-to-zoom;
  zoom: 1.0;
}


footer{
  background-color: rgba(88, 88, 88, 0.041); /*88*/
  margin:0;
  padding:0;
}

footer ul{
  list-style: none;
}

.container{
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;

  padding-bottom: 2%;
}

.footer-col ul{
  margin-bottom: 0;
  padding: 0;
}

.footer-col h4{
  font-size: 18px;
  color: black;
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: rgb(0, 0, 0);
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color: black;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  
}

.row{
  display: flex;
  flex-wrap: wrap;
  font-family: Raleway-Regular;
}

.footer-col{
  width: 30%;
  padding: 0 1%;
}

.footer-link a:hover{
  color: rgb(43, 43, 43);
  text-decoration: underline;
  
}
 
/*ALLINEARE I LINK AI TITOLI*/

.social-icon{
  width: 10%;
  padding-left: 5%;
  padding-right: 5%;
  transition: ease-in-out 0.2s;

}

.social-icon:hover{
  transform: scale(1.1);
}

.flag{
  width: 50%;
  margin: 0;
  transition: ease-in-out 0.2s;
}

.lang-section p{
  padding-right: 35%;
}

.lang-section a{
  width: 10%;
}

.flag:hover{
  transform: scale(1.1);
}
/*
.study-svg{
  transition: ease-in-out 0.2s;
}

.study-svg:hover{
  transform: scale(1.1);
  background-image: url(../../img/GreenSchoolsGeneralcon/study-blue-hover.svg);
}*/

.study-title{  
  text-align: center;
  font-weight: bolder;
  font-family: Raleway-Bold;
  font-size: 100px;
  margin: 10px;
  color: #00B1FF;
}
.home-leaf-img{
  margin-left: 5%;
}

.study-svg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}