@font-face {
	font-family: Raleway-Regular;
	src: url(../../../font/Raleway/Raleway-Regular.ttf);
}

@font-face {
	font-family: Raleway-Bold;
	src: url(../../../font/Raleway/Raleway-Bold.ttf);
}

@font-face {
	font-family: Raleway-SemiBold;
	src: url(../../../font/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
	font-family: Raleway-Light;
	src: url(../../../font/Raleway/Raleway-Light.ttf);
}

@font-face {
	font-family: Raleway-Medium;
	src: url(../../../font/Raleway/Raleway-Medium.ttf);
}
