
footer {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 1em 5rem;
	background-color: rgba(88, 88, 88, 0.041);
	font-family: Raleway-Regular;
}

footer .links-section-row {
	display: flex;
	flex-direction: row;
	column-gap: 10rem;
	row-gap: 1rem;
	flex-wrap: wrap;
}

footer .links-section-col {
	display: flex;
	flex-direction: column;
}

footer .links-section-col > h3 {
	font-weight: 500;
	text-decoration: underline solid;
	text-underline-offset: 0.5em;
}

footer .links-list {
	display: flex;
	flex-direction: column;
	gap: 1em;
	align-items: start;
}

footer .socials-list {
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2em;
}

footer .links-list > a[href] {
	font-weight: 300;
	color: unset;
	text-decoration: none;
	font-family: Raleway-Light;
}

footer .links-list > a[href]:hover {
	text-decoration: underline solid;
	font-family: Raleway-Regular;
}

footer > hr {
	margin: 0;
	border: 0;
	height: 1px;
	background-color: grey;
}

footer .social-icon {
	height: 3em;
	transition: ease-in-out 0.2s;
}

footer .social-icon:hover {
	transform: scale(1.1);
}